<footer class="bg-dark text-white text-center p-4 mt-5">
    
    <div class="mb-3">
      <a href="https://www.facebook.com/share/1C2rHr76Wu/" class="social-icon facebook" target="_blank" title="Facebook">
        <i class="fab fa-facebook-f fa-lg"></i>
      </a>
      <a href="https://twitter.com" class="social-icon twitter" target="_blank" title="X (Twitter)">
        <i class="fab fa-x-twitter fa-lg"></i>
      </a>
      <a href="https://www.linkedin.com/in/thanigachalam-m-9a0048196" class="social-icon linkedin" target="_blank" title="LinkedIn">
        <i class="fab fa-linkedin-in fa-lg"></i>
      </a>
      <a href="https://www.instagram.com/thanigachalam_m?igsh=MWV4M3kzMm8zazkyMg==" class="social-icon instagram" target="_blank" title="Instagram">
        <i class="fab fa-instagram fa-lg"></i>
      </a>
      <a href="https://github.com/Thanigachalam98" class="social-icon github" target="_blank" title="GitHub">
        <i class="fab fa-github fa-lg"></i>
      </a>
      <a href="https://youtube.com/@lion_of_tamil?si=-45oljpD7diecuhn" class="social-icon youtube" target="_blank" title="YouTube">
        <i class="fab fa-youtube fa-lg"></i>
      </a>
    </div>
    
    <p>&copy; 2025 Cobra Web Craft. All rights reserved.</p>
</footer>
